*{

    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #f8fafd !important;
}
input, textarea {
    --tw-ring-shadow: 0 0 #000 !important;
  }
.card-title{
    font-weight: 600;
    color: #1c1ea9;
}
#nprogress{
    display: none;
}
.css-1anqmj6-MuiPopper-root-MuiPickersPopper-root{
    z-index: 1400 !important;;
}
.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root{
    z-index: 1400 !important;;
}
.modal{
    z-index: 1350 !important;;
}
.modal-backdrop{
    z-index: 1300 !important;
}
.card{
    background-color: #fdfdfd !important;
}
/* Error Page */
#notfound {
    position: relative;
    height: 100vh;
  }

  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .notfound {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
  }

  .notfound .notfound-404 {
    position: relative;
    height: 200px;
    margin: 0px auto 20px;
    z-index: -1;
  }

  .notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 236px;
    font-weight: 200;
    margin: 0px;
    color: #211b19;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .notfound .notfound-404 h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: #211b19;
    background: #fff;
    padding: 10px 5px;
    margin: auto;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
  }

  .notfound a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 23px;
    background: #2B316A;
    font-size: 18px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }

  .notfound a:hover {
    color: #2B316A;
    background: #fff;
  }

  @media only screen and (max-width: 767px) {
    .notfound .notfound-404 h1 {
      font-size: 148px;
    }
  }

  @media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
      height: 148px;
      margin: 0px auto 10px;
    }
    .notfound .notfound-404 h1 {
      font-size: 86px;
    }
    .notfound .notfound-404 h2 {
      font-size: 16px;
    }
    .notfound a {
      padding: 7px 15px;
      font-size: 14px;
    }
  }

  /* Login */
.login-card .card-title{
    color: #1c1ea9;
    font-size: 2em;
    font-weight: 500;

}
.login-card .btn-login{
    background-color: #243ab0;
   text-align: center;
}
.input-label-error{
    color: #d32f2f !important;
}

/* Navbar */

  .welcome-text {

    position: relative;
    font-weight: bold!important;
    overflow: hidden;
    border-right: 2px solid hsl(0, 0%, 80%);
    white-space: nowrap;
    animation: typewriter 4s steps(44) 1s 1 normal both,
      blinkTextCursor 500ms infinite;
  }
  .detail-title{
    font-size: 15px;
    font-weight: 500;
    opacity: 80%;
    color: #4b5bc1;
    margin-bottom: 10px;
}
.detail-text{
    font-size: 16px;
    color: #121422;
    font-weight: 500;
    opacity: 90%;

}

/* dashboard */
.dashboard-summary .card{
    width: 17rem;
    height: 8rem;


}
.card-icon{
    position: absolute;
    z-index: 0;
    top: 25px;
    right: 6px;
    font-size: 50px;

}
.dashboard-summary .card .card-subtitle{
    font-size: 14px;
    font-weight: 400;


}
.dashboard-summary .card .card-title{
    font-size: 20px;
    font-weight: 600;


}


  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 50px;
    }
  }
  @keyframes blinkTextCursor {
    from {
      border-right-color: hsl(0, 0%, 80%);
    }
    to {
      border-right-color: transparent;
    }
  }

  @media (max-width: 768px) {
    .welcome-text{
        display: none;
    }
    .container{
        max-width: 768px;
    }
    .card{
        width: 120% !important;
        margin-left: -20px !important;
    }
    /* .button-group{
        flex-direction: column;

    }
    .button-group button{
        margin-bottom: 20px;
        width: 100%;
    } */
    /* Order Detail Page */

    .form-group .row{
        flex-direction: column;
    }
  }
  @media (min-width: 1400px) {
    main{

        min-width: 1400px;
        /* margin-left: -200px; */
    }
    .container{
       min-width: 100%;
    }
    .card, .col-lg-12{
        min-width: 100%;
    }
  }


